.calculator__container {
  margin: 0 auto;
  width: 1170px;
  position: relative;
}

.calculator__title {
  // margin-top: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 41px;
  line-height: 57px;
  color: #1F1E25;
}

.calculator__steps-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  color: #1F1E25;
}

.step-selector {
  width: 600px;
  height: 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1F1E25;
  padding-left: 20px;
}

.step-option {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 60px;
  color: #1F1E25;
}

.credit-selector-condensed {
  width: 600px;
  height: 60px;
  border: 1px solid #1F1E25;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.credit-selector__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1F1E25;
  margin-left: 20px;
}

.credit-selector__title--expanded {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #1F1E25;
  margin-left: 20px;
}

.credit-selector__arrow {
  margin-right: 20px;
}

.credit-selector__arrow:hover {
  cursor: pointer;
}

.credit-selector-expanded-container {
  width: 600px;
  height: 180px;
  border: 1px solid #1F1E25;
  border-radius: 4px;
  display: block;
}

.credit-selector-expanded {
  width: 600px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mortgage-credit-lending {
  width: 600px;
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid #0A1E32;
}

.car-credit-lending {
  width: 600px;
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid #C1C2CA;
}

.mortgage-credit-lending:hover,
.car-credit-lending:hover {
  cursor: pointer;
}

.credit-params-subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #394959;
}

.minus-img {
  margin-left: 20px;
}

.plus-img {
  margin-right: 20px;
}

.minus-img:hover,
.plus-img:hover {
  cursor: pointer;
}

.credit-cost {
  width: 100px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #1F1E25;
}

.credit-cost:focus {
  border: none;

}

.credit-cost-container {
  display: flex;
  height: 20px;
}

.credit-cost-currency {
  height: 20px;
  margin: 0;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #1F1E25;
} 

.credit-cost-range {
  margin-top: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #707C87;
}

.our-offer {
  position: absolute;
  right: 0;
  top: 100px;
  background: #F6F7FF;
  border-radius: 4px;
  width: 500px;
  height: 389px;
  // padding: 60px;
}

.our-offer__inner {
  margin: 60px;
}

.our-offer__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  color: #1F1E25;
}

.amount-value {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  color: #1F1E25;
  margin-bottom: 0;
}

.amount-subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #394959;
  margin: 0;
}