
.slide1 {
  width: 1366px;
  height: 400px;
  background: 
  linear-gradient(180.24deg, rgba(32, 39, 179, 0) 36.31%, #2027B3 99.79%),
  #2C36F2,
  
  ;
}

.slide2 {
  width: 1366px;
  height: 400px;
}

.slide3 {
  width: 1366px;
  height: 400px;
}